<%= form_with(model: publication, html: { class: 'publication-form' }) do |form| %>
  <% if publication.errors.any? %>
    <div class="error-messages">
      <h2><%= pluralize(publication.errors.count, "error") %> prohibited this publication from being saved:</h2>
      <ul>
        <% publication.errors.each do |error| %>
          <li><%= error.full_message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

  <div class="form-field">
    <%= form.label :title, class: 'label' %>
    <%= form.text_field :title, class: 'input-text' %>
  </div>

  <div class="form-field">
    <%= form.label :description, class: 'label' %>
    <%= form.text_area :description, class: 'input-textarea' %>
  </div>

  <div class="form-field">
    <%= form.label :category, class: 'label' %>
    <%= form.select :category, options_for_select(["Romantico", "Accion", "Terror", "Comedia"], @publication.category), { class: 'input-select', prompt: "Seleccione una categoría" } %>
  </div>

  <% if current_user.admin? %>
    <div class="form-field">
      <%= form.label :status, 'Bajar post', class: 'label' %>
      <%= form.check_box :status, checked: @publication.status == false, class: 'input-checkbox' %>
      <p>Marque para bajar el post (Cambiar a Inactivo).</p>
    </div>
  <% else %>
    <%= form.hidden_field :status, value: true %>
  <% end %>

  <div class="form-submit">
    <%= form.submit 'Guardar', class: 'submit-button' %>
  </div>
<% end %>
