<p style="color: green"><%= notice %></p>

<% content_for :title, "Publications" %>

<h1>Publications</h1>

<div id="filter-form">
  <%= form_with url: publications_path, method: :get, local: true do |form| %>
    <div class="filter-container">
      <%= form.label :start_date, "Start Date:", class: "filter-label" %>
      <%= form.date_field :start_date, value: params[:start_date], class: "date-input" %>

      <%= form.label :end_date, "End Date:", class: "filter-label" %>
      <%= form.date_field :end_date, value: params[:end_date], class: "date-input" %>

      <%= form.label :category, "Category:", class: "filter-label" %>
      <%= form.select :category, options_for_select(["", "Romantico", "Accion", "Terror", "Comedia"], params[:category]), include_blank: "All", class: "category-select" %>

      <%= form.submit "Search", class: "btn btn-primary" %>
      
      <%= link_to "New Publication", new_publication_path, class: "btn btn-success new-publication-btn" %>
    </div>
  <% end %>
</div>

<div id="publications">
  <% if @publications.any? %>
    <% @publications.each do |publication| %>
      <div class="publication-item">
        <h2><%= publication.title %></h2>
        <p><%= publication.description %></p>
        <p>Category: <%= publication.category %></p>
        <p><strong>Created at:</strong> <%= publication.created_at.strftime("%B %d, %Y %H:%M") %></p>
        <p><strong>Author:</strong> <%= publication.user.email %></p>
        <% if publication.status %>
          <p style="color: green">Active</p>
        <% else %>
          <p style="color: red">Inactive</p>
        <% end %>

        <p>
          <%= link_to "Show this publication", publication, class: "btn btn-secondary" %>
        </p>
      </div>
    <% end %>
  <% else %>
    <p>No publications found for the selected filters.</p>
  <% end %>
</div>
